/* surcharge github markdown styles */
.markdown-body {
  // min-width: 638px;
  min-width: unset;
  margin: 0;
  padding: 1.25em;
  border-color: #fafafa;
  background-color: #fefefe;
}
.markdown-body table {
  display: table;
  @media screen and (max-width: 375px) {
    font-size: 4vw;
  }
  th, td {
    padding: 0.5em;
  }
}
/* END surcharge github styles */

.container {
  display: flex;
  flex-wrap: wrap;
}
.container > ul {
  padding: 0;
  & > li {
    margin-right: 0.4em;
    list-style: none;
    & > a {
      display: inherit;
      background-color: #ff7200;
      padding: 15px 8px;
      color: #fff;
      font-family: sans-serif;
      text-decoration: none;
      transition: background-color 0.1s;
    }
  }
}

.container > ul > li > a:hover,
.container > ul > li > a.actif {
  text-decoration: underline;
  background-color: #0b82e9;
}


@media only screen and (min-width: 375px) and (max-width: 1250px) {
  .container > ul {
    display: flex;
  }
  .container > ul > li {
    display: flex;
    text-align: center;
  }
  .container > ul > li:last-child {
    margin-right: 0;
  }
}

/* form */
.markdown-body form {
  div {
    display: flex;
    flex-wrap: wrap;
    margin: 0; padding: 0; border: none;
    max-width: 368px;
    label {
      // grow ✓ shrink 𐄂 basis 100% (init size before remaining space is redistributed)
      flex: 1 0 100%;
      color: #ff7200;
    }
    input {
      flex: 1;
      min-width: 70px; // eq no-wrap
    }
    button {
      min-width: 56px;
    }
    .result {
      margin-left: 1em;
      @media screen and (max-width: 375px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.markdown-body input,
.markdown-body button {
  vertical-align: middle;
}
.markdown-body input {
  height: 48px;
  padding-left: 8px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ff7200;
  font-size: 24px;
}
.markdown-body button {
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff7200;
}
