/* surcharge github markdown styles */
.markdown-body {
  // min-width: 638px;
  min-width: unset;
  margin: 0;
  padding: 1.25em;
  border-color: #fafafa;
  background-color: #fefefe;
}
.markdown-body table {
  display: table;
  @media screen and (max-width: 375px) {
    font-size: 4vw;
  }
  th, td {
    padding: 0.5em;
  }
}
/* END surcharge github styles */

.container {
  display: flex;
  flex-wrap: wrap;
}
.container > ul {
  padding: 0;
  & > li {
    margin-right: 0.4em;
    list-style: none;
    & > a {
      display: inherit;
      padding: 15px 8px;
      color: #666;
      font-family: sans-serif;
      text-decoration: none;
      background-image: linear-gradient(to top, #ff7200, #ff7200);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% 0px;
      transition: background-size .25s, color .25s;
      &.actif, &:hover {
        color: #ff7200;
        background-size: 100% 8px;
      }
    }
  }
}



@media only screen and (min-width: 375px) and (max-width: 1250px) {
  .container > ul {
    display: flex;
  }
  .container > ul > li {
    display: flex;
    text-align: center;
  }
  .container > ul > li:last-child {
    margin-right: 0;
  }
}

/* form */
.markdown-body form {
  div {
    display: flex;
    flex-wrap: wrap;
    margin: 0; padding: 0; border: none;
    max-width: 368px;
    label {
      // grow ✓ shrink 𐄂 basis 100% (init size before remaining space is redistributed)
      flex: 1 0 100%;
      color: #ff7200;
    }
    input {
      flex: 1;
      min-width: 70px; // eq no-wrap
    }
    button {
      min-width: 56px;
    }
    .result {
      margin-left: 1em;
      align-self: flex-end;
      @media screen and (max-width: 375px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.markdown-body {
  input, button {
    border: 1px solid #ff7200;
  }
  input {
    height: 48px;
    padding-left: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 24px;
  }
  button {
    // height: 48px; no necessary thanks flex
    padding: 0;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff7200;
  }
}

